<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./vue.js"></script>
</head>

<body>

    <div id="app">
        <div class="control">
            <input class="search" type="text" v-model="msg">
            <div class="option">
                <span v-for="(option,index) in controlOptions" :key="option" :class="{active:index===myIndex}" class="option" @click="change(index,option)">{{option}}</span>
            </div>
        </div>
        <ul>
            <li class="person" v-for="search in searchList" :key="search.id">
                <div class="avatar">
                    <img :src="search.src">
                  </div>
                  <div class="content">
                    <span class="name">{{search.name}}</span>
                    <span class="des">{{ search.des}}</span>
                  </div>
            </li>          
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                myIndex:null,
                sex:['m','f'],
                controlOptions: ['male', 'female', 'all'],
                msg:'',
                personArr: [{
                        name: '王港',
                        src: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4005587090,2408158268&fm=26&gp=0.jpg',
                        des: '颈椎不好',
                        sex: 'm',
                        id: '056482'
                    },
                    {
                        name: '刘莹',
                        src: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4005587090,2408158268&fm=26&gp=0.jpg',
                        des: '我是谁',
                        sex: 'f',
                        id: '157894'
                    },
                    {
                        name: '刘秀莹',
                        src: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4005587090,2408158268&fm=26&gp=0.jpg',
                        des: '我长得很好看',
                        sex: 'f',
                        id: '2849245'
                    },
                    {
                        name: '刘金雷',
                        src: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4005587090,2408158268&fm=26&gp=0.jpg',
                        des: '你没有见过陌生的脸',
                        sex: 'm',
                        id: '348515'
                    },
                    {
                        name: '刘飞翔',
                        src: 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4005587090,2408158268&fm=26&gp=0.jpg',
                        des: '瓜皮刘',
                        sex: 'm',
                        id: '478454'
                    }
                ],
            },
            
            computed:{
                searchList(){
                    const {personArr,msg,sex} = this;
                   return personArr.filter(item => {
                       return item.name.includes(msg) && sex.includes(item.sex);
                    })

                }
            },
            methods:{
                change(index,option){
                    this.myIndex = index;
                    this.sex.length=0;
                    switch(option){
                        case 'male':this.sex.push('m');
                        break;
                        case 'female':this.sex.push('f');
                        break;
                        case 'all':this.sex.push('m','f');
                        break;
                    }
                }
            }
        })
    </script>
</body>

</html>